.OurClient{
    margin-top: 80px;
    padding: 0px 20px 0px 20px;
}

.clientImg{
    width: 100%; 
}

.item{
    margin: 20px;
}

.flex{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}