<div class="aboutContent">
  <div class="cabecalho">
    <div class="topImgAbout">
      <img src="/assets/imgs/about-1.jpg" alt="" class="perfect-fit">
    </div>
    <div class="legendaFoto">
      <h5 class="textoFoto"> A UP Consultores </h5>
    </div>
  </div>

  <div class="potencial">
    <h1> Nosso Potencial </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a1.jpg" class="fit-img">
            </div>
            <div class="bodyText">
                Experiência nos segmentos da indústria, serviços, 
                construtoras e incorporadoras, comércio e logística.
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a2.jpg" class="fit-img">
            </div>
            <div class="bodyText">
                Apoio em projetos de revisão de controles internos e procedimentos 
                previamente acordados em empresas familiares em início de 
                profissionalização de administração.            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"> <!-- Precisa subir um pouco -->
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a4.jpg" class="fit-img img21">
            </div>
            <div class="bodyText">
                Atuação em projetos de fusões e aquisições em empresas
                com faturamento combinado de R$5 Bilhões nos últimos 24 meses.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a3.jpg" class="fit-img img22">
            </div>
            <div class="bodyText">
                Mais de 130.000 horas de equipes dedicadas atuando
                nas dependências do cliente.
            </div>
          </div>
        </div>
      </div>
      <div class="row row3">
          <div class="col-md-3"> <!-- Precisa mudar -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a6.jpg" class="fit-img img31">
              </div>
              <div class="bodyText">
                  R$ 150 Milhões em recuperação de créditos fiscais nos últimos 
                  3 anos.
              </div>
            </div>
          </div>
          <div class="col-md-6"> <!-- Precisa subir um pouco -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a7.jpg" class="fit-img img32">
              </div>
              <div class="bodyText">
                  Extensa rede de network que proporciona um leque de soluções
                  nas mais variadas necessidades da empresa.
              </div>
            </div>
          </div>
          <div class="col-md-3"> <!-- Precisa mudar -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a5.jpg" class="fit-img img33">
              </div>
              <div class="bodyText">
                Compliance fiscal, trabalhista e previdenciários com 
                foco preventivo.  
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  
  <!--<div class="container">
    <h1> Nosso potencial </h1>
    <div class="row potencial">
      <div class="col-5">
          <div class="card">
              <img src="assets/imgs/a1.jpg" class="card-img-top foto">
              <div class="card-body">
                <p>
                  Experiência nos segmentos da indústria, serviços, 
                  construtoras e incorporadoras, comércio e logística.
                </p>
              </div>
          </div>        
      </div>
      <div class="col-7">
          <div class="card">
            <img src="assets/imgs/a2.jpg" class="card-img-top foto">
            <div class="card-body">
              <p>
                Apoio em projetos de revisão de controles internos e procedimentos 
                previamente acordados em empresas familiares em início de 
                profissionalização de administração.
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="row potencial">
      <div class="col-8">
        <div class="card">
          <img src="assets/imgs/a4.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Atuação em projetos de fusões e aquisições em empresas
              com faturamento combinado de R$5 Bilhões nos últimos 24 meses.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/imgs/a3.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Mais de 130.000 horas de equipes dedicadas atuando
              nas dependências do cliente.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row potencial">
      <div class="col-3">
        <div class="card">
          <img src="assets/imgs/a5.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Compliance fiscal, trabalhista e previdenciários com 
              foco preventivo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="assets/imgs/a6.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              R$ 150 Milhões em recuperação de créditos fiscais nos últimos 
              3 anos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/imgs/a7.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Extensa rede de network que proporciona um leque de soluções
              nas mais variadas necessidades da empresa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="valores">
      <h1> Nossos Valores </h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="none">
              <li> Parceria </li>
              <li> Sensor de urgência </li>
              <li> Confidencialidade </li>
              <li> Criação de valor </li>
            </ul>
          </div>
          <div class="col">
            <p>
              A UP consultores é a união de experiência de seus
              líderes que detém um leque de soluções corporativas
              disponíveis a cada fase da operação de seus clientes.
            </p>
            <p>
              Através de um ecossistemas próprio, suas células de 
              atuação permite que possamos executar nossos projetos
              com o mesmo senso de urgência de nossos clientes. 
            </p>
            <p>
              Temos propostas de serviços para cada fase da maturação 
              de uma empresa de modo que nosso trabalho sempre é 
              customizado visando atender as necessidades de cada cliente
              que confia em nossa equipe.
            </p>
          </div>
        </div>
      </div>
  </div>

  <div class="servicos">
    <h1> Nossos Serviços </h1>
    <div class="container">
        <div class="consultores">
           <div class="titlesUP">
             <span class="up"> UP </span> <span class="upSubtitle"> Consultores </span>
          </div>
             <p>
               Consultoria especializada em práticas tributárias utilizando 
               de ferramentas de ponta e soluções que permitem as seguintes 
               experiências: 
             </p>
             <div class="lista">
               <ul>
                 <li>
                   - Revisão de práticas tributárias e identificação de melhorias 
                   na forma de tributação da empresa;
                 </li>
                 <li>
                   - Compliance fiscal e correção de inconsistências;
                 </li>
                 <li>
                   - Recuperaçao de créditos tributários;
                 </li>
                 <li>
                   - Transfer Pricing; 
                 </li>
                 <li>
                   - Análise de enquadramento tributário;
                 </li>
                 <li>
                   - Revisão de parâmetros de tributação no ambiente ERP da empresa;
                 </li>
                 <li>
                   - Assessoria tributária permanente.
                 </li>
               </ul>
             </div>
        </div>
        <div class="advisory">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Advisory </span>
          </div>
          <p>
              Consultoria especializada em Serviços Financeiros e de Transações, 
              com especialização em empresas de Middle Market
          </p>
          <div class="lista">
            <h3> Transações e Serviços </h3>
            <ul>
              <li>
                - Due Diligence e Vendor Assitance permitindo a 
                visualização da necessidade ou suficiência de capital 
                de giro; correto reconhecimento da dívida, normalização 
                do EBITDA e apresentação de informações selecionadas que 
                ilustrem a operação que está sob análise;
              </li>
              <li>
                - Apresentação de cenários que podem influenciar negativamente
                uma futura transação de venda de controle;
              </li>
              <li>
                - Assessoria na administração de Virtual Data Room;
              </li>
              <li>
                - Reciclagem de auditores que queiram implementar metodologia
                de Due Diligence; 
              </li>
              <li>
                - Apoio para empresas de M&A que necessitam de 
                assessoria na condução e solução de potenciais
                riscos e contigências em transações - Prevenção de Deal Break;
              </li>
              <li>
                - Revisão em base de testes das práticas contábeis adotadas;
              </li>
              <li>
                - Carve Out de balanço;
              </li>
              <li>
                - Aplicaçãõ de procedimentos preparatórios para receber
                uma auditorias externa.
              </li>
            </ul>
            <h3> Controles internos </h3>
            <p>
              Revisão dos principais ciclos chave da empresa apresentando
              a matriz de riscos e plano de ação para saneamento de 
              problemas identificados.
            </p>
          </div>
        </div>
        <div class="work">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Work </span>
          </div>
          <h3> Outsourcing e Insourcing </h3>
          <ul>
            <li>
              - Contabilidade
            </li>
            <li>
              - Departamento Fiscal 
            </li>
            <li>
              - Departamento Pessoal
            </li>
            <li>
              - Gestão de Benefícios
            </li>
          </ul>
          <p>
            Equipe constantemente reciclada e usufruindo de 
            ferramentas operacionais modernas e disponiveis 
            para uso de nossos clientes.
          </p>
          <h3>
            Equipes dedicadas
          </h3>
          <p>
            Disponibilização de colaboradores para projetos
            temporárrios ou permanentes, onde a supervisão e 
            coordenação é feita pelo cliente. Nossas equipes dedicadas
            já atuaram mais de 130.000 horas em empresas de médio e grande porte
            apoiando projetos nas áreas contábil, fiscal e departamento pessoal.
          </p>
        </div>
        <div class="labor">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Labor </span>
          </div>
          <p>
            Consultoria especializada em práticas trabalhistas e previdenciárias. 
            Nossas soluções proporcionam as seguintes experiências.
          </p>
          <h3>
            Outsourcing e Insourcing
          </h3>
          <ul>
            <li> - Revisão ou implementação do E-Social; </li>
            <li> - Compliance da folha de pagamento; </li>
            <li> - Revisão das práticas trabalhistas e previdenciárias; </li>
            <li> - Recuperação de créditos previdenciários. </li>
          </ul>
        </div>
    </div>
  </div>
</div>
