<div class="aboutContent">
  <div class="cabecalho">
    <div class="topImgAbout">
      <img src="/assets/imgs/about-1.jpg" alt="" class="perfect-fit">
    </div>
    <div class="legendaFoto">
      <h5 class="textoFoto"> A UP Consultores </h5>
    </div>
  </div>

  <div class="potencial">
    <h1> Nosso Potencial </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a1.jpg" class="fit-img">
            </div>
            <div class="bodyText">
                Experiência nos segmentos da indústria, serviços, 
                construtoras e incorporadoras, comércio e logística.
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a2.jpg" class="fit-img">
            </div>
            <div class="bodyText">
                Apoio em projetos de revisão de controles internos e procedimentos 
                previamente acordados em empresas familiares em início de 
                profissionalização de administração.            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"> <!-- Precisa subir um pouco -->
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a4.jpg" class="fit-img img21">
            </div>
            <div class="bodyText">
                Atuação em projetos de fusões e aquisições em empresas
                com faturamento combinado de R$5 Bilhões nos últimos 24 meses.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mycard">
            <div class="headImg">
              <img src="assets/imgs/a3.jpg" class="fit-img img22">
            </div>
            <div class="bodyText">
                Mais de 130.000 horas de equipes dedicadas atuando
                nas dependências do cliente.
            </div>
          </div>
        </div>
      </div>
      <div class="row row3">
          <div class="col-md-3"> <!-- Precisa mudar -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a6.jpg" class="fit-img img31">
              </div>
              <div class="bodyText">
                  R$ 150 Milhões em recuperação de créditos fiscais nos últimos 
                  3 anos.
              </div>
            </div>
          </div>
          <div class="col-md-6"> <!-- Precisa subir um pouco -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a7.jpg" class="fit-img img32">
              </div>
              <div class="bodyText">
                  Extensa rede de network que proporciona um leque de soluções
                  nas mais variadas necessidades da empresa.
              </div>
            </div>
          </div>
          <div class="col-md-3"> <!-- Precisa mudar -->
            <div class="mycard">
              <div class="headImg">
                <img src="assets/imgs/a5.jpg" class="fit-img img33">
              </div>
              <div class="bodyText">
                Compliance fiscal, trabalhista e previdenciários com 
                foco preventivo.  
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  
  <!--<div class="container">
    <h1> Nosso potencial </h1>
    <div class="row potencial">
      <div class="col-5">
          <div class="card">
              <img src="assets/imgs/a1.jpg" class="card-img-top foto">
              <div class="card-body">
                <p>
                  Experiência nos segmentos da indústria, serviços, 
                  construtoras e incorporadoras, comércio e logística.
                </p>
              </div>
          </div>        
      </div>
      <div class="col-7">
          <div class="card">
            <img src="assets/imgs/a2.jpg" class="card-img-top foto">
            <div class="card-body">
              <p>
                Apoio em projetos de revisão de controles internos e procedimentos 
                previamente acordados em empresas familiares em início de 
                profissionalização de administração.
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="row potencial">
      <div class="col-8">
        <div class="card">
          <img src="assets/imgs/a4.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Atuação em projetos de fusões e aquisições em empresas
              com faturamento combinado de R$5 Bilhões nos últimos 24 meses.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/imgs/a3.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Mais de 130.000 horas de equipes dedicadas atuando
              nas dependências do cliente.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row potencial">
      <div class="col-3">
        <div class="card">
          <img src="assets/imgs/a5.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Compliance fiscal, trabalhista e previdenciários com 
              foco preventivo.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <img src="assets/imgs/a6.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              R$ 150 Milhões em recuperação de créditos fiscais nos últimos 
              3 anos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/imgs/a7.jpg" class="card-img-top foto">
          <div class="card-body">
            <p>
              Extensa rede de network que proporciona um leque de soluções
              nas mais variadas necessidades da empresa.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="valores">
      <h1> Nossos Valores </h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="none">
              <li> Parceria </li>
              <li> Senso de urgência </li>
              <li> Confidencialidade </li>
              <li> Criação de valor </li>
            </ul>
          </div>
          <div class="col">
            <p>
              A UP consultores é a união de experiência de seus
              líderes que detém um leque de soluções corporativas
              disponíveis a cada fase da operação de seus clientes.
            </p>
            <p>
              Através de um ecossistemas próprio, suas células de 
              atuação permite que possamos executar nossos projetos
              com o mesmo senso de urgência de nossos clientes. 
            </p>
            <p>
              Temos propostas de serviços para cada fase da maturação 
              de uma empresa de modo que nosso trabalho sempre é 
              customizado visando atender as necessidades de cada cliente
              que confia em nossa equipe.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
