
  <div class="servicos">
    <h1> Nossos Serviços </h1>
    <div class="container">
        <div class="consultores">
           <div class="titlesUP">
             <span class="up"> UP </span> <span class="upSubtitle consult"> Consultores </span>
          </div>
             <p>
               Consultoria especializada em práticas tributárias utilizando 
               de ferramentas de ponta e soluções que permitem as seguintes 
               experiências: 
             </p>
             <div class="lista">
               <ul>
                 <li>
                     Revisão de práticas tributárias e identificação de melhorias 
                   na forma de tributação da empresa;
                 </li>
                 <li>
                     Compliance fiscal e correção de inconsistências;
                 </li>
                 <li>
                     Recuperaçao de créditos tributários;
                 </li>
                 <li>
                     Transfer Pricing; 
                 </li>
                 <li>
                     Análise de enquadramento tributário;
                 </li>
                 <li>
                     Revisão de parâmetros de tributação no ambiente ERP da empresa;
                 </li>
                 <li>
                     Assessoria tributária permanente.
                 </li>
               </ul>
             </div>
        </div>
        <div class="advisory">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Advisory </span>
          </div>
          <p>
              Consultoria especializada em Serviços Financeiros e de Transações, 
              com especialização em empresas de Middle Market
          </p>
          <div class="lista">
            <h3> Transações e Serviços </h3>
            <ul>
              <li>
                  Due Diligence e Vendor Assitance permitindo a 
                visualização da necessidade ou suficiência de capital 
                de giro; correto reconhecimento da dívida, normalização 
                do EBITDA e apresentação de informações selecionadas que 
                ilustrem a operação que está sob análise;
              </li>
              <li>
                  Apresentação de cenários que podem influenciar negativamente
                uma futura transação de venda de controle;
              </li>
              <li>
                  Assessoria na administração de Virtual Data Room;
              </li>
              <li>
                  Reciclagem de auditores que queiram implementar metodologia
                de Due Diligence; 
              </li>
              <li>
                  Apoio para empresas de M&A que necessitam de 
                assessoria na condução e solução de potenciais
                riscos e contigências em transações - Prevenção de Deal Break;
              </li>
              <li>
                 Revisão em base de testes das práticas contábeis adotadas;
              </li>
              <li>
                 Carve Out de balanço;
              </li>
              <li>
                 Aplicaçãõ de procedimentos preparatórios para receber
                uma auditorias externa.
              </li>
            </ul>
            <h3> Controles internos </h3>
            <p>
              Revisão dos principais ciclos chave da empresa apresentando
              a matriz de riscos e plano de ação para saneamento de 
              problemas identificados.
            </p>
          </div>
        </div>
        <div class="work">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Work </span>
          </div>
          <h3> Outsourcing e Insourcing </h3>
          <ul>
            <li>
               Contabilidade
            </li>
            <li>
               Departamento Fiscal 
            </li>
            <li>
               Departamento Pessoal
            </li>
            <li>
               Gestão de Benefícios
            </li>
          </ul>
          <p>
            Equipe constantemente reciclada e usufruindo de 
            ferramentas operacionais modernas e disponiveis 
            para uso de nossos clientes.
          </p>
          <h3>
            Equipes dedicadas
          </h3>
          <p>
            Disponibilização de colaboradores para projetos
            temporárrios ou permanentes, onde a supervisão e 
            coordenação é feita pelo cliente. Nossas equipes dedicadas
            já atuaram mais de 130.000 horas em empresas de médio e grande porte
            apoiando projetos nas áreas contábil, fiscal e departamento pessoal.
          </p>
        </div>
        <div class="labor">
          <div class="titlesUP">
            <span class="up"> UP </span> <span class="upSubtitle"> Labor </span>
          </div>
          <p>
            Consultoria especializada em práticas trabalhistas e previdenciárias. 
            Nossas soluções proporcionam as seguintes experiências.
          </p>
          <h3>
            Outsourcing e Insourcing
          </h3>
          <ul>
            <li>  Revisão ou implementação do ESocial; </li>
            <li>  Compliance da folha de pagamento; </li>
            <li>  Revisão das práticas trabalhistas e previdenciárias; </li>
            <li>  Recuperação de créditos previdenciários. </li>
          </ul>
        </div>
    </div>
  </div>
