<nav class="navbar navbar-expand-md navbar-light bg-light" #target>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" class="logoUpNavbar" [routerLink]="['/home']">
            <img src="assets/svgs/Logo UP.svg" class="logoNavBarTop" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': homeClass }" (click)="ChangeLink(1);" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': SobreClass}" (click)="ChangeLink(2);" [routerLink]="['/const','sobre']">Sobre</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': ServicosClass}" (click)="ChangeLink(3);" [routerLink]="['/const', 'serviços']"> Serviços </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': ClientesClass}" (click)="ChangeLink(4);" [routerLink]="['/const', 'clientes']"> Clientes  </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': ContatoClass}" (click)="ChangeLink(5);" [routerLink]="['/const', 'contatos']"> Contatos  </a>
          </li>
        </ul>
    </div>
</nav>
<div class="PageContent">
    <router-outlet></router-outlet>
</div>
<div class="footer sticky-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/svgs/Logo UP P&B.svg" class="img-fluid LogoBottom"alt="">
            </div>
            <div class="col">
                <p class="textoConsultoria"> Consultoria contábil e tributária que se dedica a cada ponto importante para que você não 
                    precise se preocupar. Isso significa mais eficiência e maior rentabilidade.
                </p>
            </div>
            <div class="col contato">
                <h3> Contato </h3>

                <p> Rua Machado Bitencourt, 205 cj 13 - Vila Clementino </p>
                <p> Telefone (11) 2537-2978/(11) 2537-3252</p>

                <p> up@upconsultores.com.br </p>    
            </div>
            <div class="col socialMedia">
                <h3> Redes Sociais </h3>

                <p>
                    <a href=""> <img src="assets/svgs/icone In.svg" class="redesIcons" alt=""></a>
                    <a href=""> <img src="assets/svgs/icone FB.svg" class="redesIcons" alt=""> </a>
                </p>
            </div>
            <div class="col-1">
                <a (click)="scrollToElement(target)"> <img src="assets/svgs/Ícone Top.svg" class="topIcon"alt=""> </a> 
            </div>
        </div>
    </div>
</div>


