.navbar{
    top: 0px;
    min-height: 60px;
    font-family: Montserrat;    
    font-weight: 900;
    color: #707070;
    background: rgb(248,249,250);
    background: rgba(248,249,250, 0.85) ;
    position: absolute;
    z-index: 2;
    width: 100%;
}

li{
    margin-left: 2em;
}

.pageContent{
    position: absolute;
    z-index: 0;
}

.navbar-default{
    background: none; 
    border: none;
}

.active {
    height: 35px;
    border-bottom: 1px solid #707070;
}

.logoNavBarTop{
    width: 50px;
    height: 50px;
}

.footer{
    min-height: 100px;
    background: rgb(37, 32, 32);
    color: #BFBFBF;
    padding-top: 10px;
    padding-bottom: 50px;
}

.footer p{
    font-size: 10px;
}

.LogoBottom{
    margin: 20px;
    max-height: 100px;
}

.textoConsultoria{
    margin-top: 50px;
}

.contato, .socialMedia{
    margin-top: 40px;
}

.contato h3, .socialMedia h3{
    font-size: 24px;
    text-transform: uppercase;
}

.redesIcons{
    margin-top: 20px;
    height: 50px;
    width: 50px;
}

.topIcon{
    margin-top: 40px;
}



/** Conteudo de acordo com tela variavel **/
@media (min-width: 768px){
    nav{
        padding-left: 12.25vw;
    }

    .navbar ul {
        float: right;
        right: 12.25vw;
        position: absolute;
    } 
}