/* You can add global styles to this file, and also import other style files */
nav{
    z-index: 1; 
}

.PageContent {
    z-index: 0;
    width: 100%;
    min-height: calc(100vh - 160px);
}

/* Fonts Gerais */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(assets/fonts/montserrat.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }